body{
	background: url("images/todo.jpg") no-repeat right top fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}


.container, nav{
	float:left;
	width: 50%;
	padding: 2% 0 5% 1%;
}

h1{
	margin-top: 0;
	color: white;
	margin-bottom: 20px !important;
}

h3, h4{
	color: #17223E;
}

h4{
	margin-top: 0 !important;
}


h4 > span{
	color: #FF4500;
}


.todoFields{
	margin-top: 40px;
	margin-bottom:40px;
	color: #17223E;
}

.todoFields > span{
	margin-right: 20px;
	display: inine-block;
}

.todoFields > span > label{
	font-size:0.9em;
}

.todoFields input{
	height: 40px;
}

.switch-button{
	position: relative;
	top:18px;
}

.first-row{
	margin-bottom: 20px;
}

.title{
	margin-right:49px;
}

.title input{
	position: relative;
	left: 14px;
}

button.addTask, button.addItem, input{
	border-radius: 10px 10px 10px 10px;
	/* overflow: hidden; */
}

.addTask{
	height:40px;
	width: 40px;
	color: #0a93e2;
	background: white;
	position: relative;
	bottom: 5px;
	margin-left: 40px;
	cursor: pointer;
}

.addTask > i{
	background-image: url("images/add-icon.png");
	display: inline-block;
	width:32px;
	height: 32px;
	position:absolute;
	left:2px;
	bottom: 2.5px;
}

.addItem{
	height:42px;
	width: 100px;
	color: #0a93e2;
	background: white;
	margin-left: 40px;
	cursor: pointer;
}

.todolist, .doneList{
	margin-top: 40px;
}

.todolist > li, .doneList > li{
	list-style: none;
	display: inline-block;
	width: 200px;
	background: white;
	margin-right: 30px;
	margin-bottom: 10px;
	padding: 5px;
	position: relative;
	height: 40px;
	border-radius: 10px 10px 10px 10px;
	/* overflow: hidden; */
}

.date{
	max-width: 90px;
	display: inline-block;
	font-size: 0.6em;
	position:absolute;
	bottom: 5px;
}

.viewItems{
	display:inline-block;
	width:75px;
	height:41px;
	position: absolute;
	right:0;
	top:0;
	font-size:0.6em;
	text-align: center;
	text-decoration: none;
	color: black;
	margin-top:0;
	border-radius: 0 10px 10px 0;
	line-height: 13px !important
}

.todolist .viewItems{
	background: #C0C0C0;
}

.doneList .viewItems{
	background: #7FFF00;
}

.delete, .checked, .unChecked, .editList, .editItem, .saveItem, .todolist .done, .saveList{
	display: none !important;
	cursor: pointer;
	font-size:0.7em;
}

.todolist .done{
	color: green;
}

.delete{
	color:red;
}

.checked{
	color: green;
}

.unChecked{
	color: #DCDCDC;
}

.editList{
	color: #0000FF;
}

.editItem, .saveItem{
	color: #008000;
}

.save{
	color: green;
}

.todoitems{
	padding-left: 27px;
	padding-right: 7px;
	margin-bottom: 2px;
	margin-top: 2px;
	display:inline-block;
	color: #1d1f2e;
	background: white;
	border-radius: 10px 10px 10px 10px;
	overflow: hidden;
}


li:hover > i.delete, li:hover > i.editList, li:hover > i.done{
	
	display:inline-block !important;
}

.todoitems > li.unDone:hover > i.unChecked, .todoitems > li.unDone:hover > i.editItem{
	display:inline-block !important;
}

.todoitems > li.unDone:hover > i.checked{
	display:none !important;
}

.todoitems > li.done:hover > i.checked{
	display:inline-block !important;
}

.todoitems > li.done:hover > i.unChecked, .todoitems > li.done:hover > i.editItem{
	display:none !important;
}

.todolist .delete, .doneList .delete{
	position: absolute;
	right: 5px;
	top:5px;
}

.todolist .done{
	position: absolute;
	right: 5px;
	bottom:5px;
}

.todolist a, .doneList a{
	padding-top:9px;
	line-height:16px;
}

.todolist .editList, .doneList .editList{
	position: absolute;
	left: 120px;
	top:5px;
}

.saveList{
	position: absolute;
	left: 119px;
	bottom:7px;
	color:green;
	font-size: 0.8em;
}

.saveList.active{
	display: inline-block !important;
}

.saveItem.active{
	display: inline-block !important;
}

/* switch styles */
.toggle-label {
  position: relative;
  top:16px;
  display: inline-block;
  width: 100px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 10px 10px 10px 10px;
  margin-right: 30px;
  line-height: 38px;
}
.toggle-label input[type=checkbox] { 
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.toggle-label input[type=checkbox]+.back {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #ed1c24;
	transition: background 150ms linear;  
	border-radius: 10px 10px 10px 10px;
}
.toggle-label input[type=checkbox]:checked+.back {
  background: #00a651; /*green*/
}

.toggle-label input[type=checkbox]+.back .toggle {
  display: block;
  position: absolute;
  content: ' ';
  background: #fff;
  width: 50%; 
  height: 100%;
  transition: margin 150ms linear;
  border: 1px solid #808080;
  border-radius: 10px 10px 10px 10px;
}
.toggle-label input[type=checkbox]:checked+.back .toggle {
  margin-left: 50px;
}
.toggle-label .label {
  display: block;
  position: absolute;
  width: 50%;
  color: #ddd;
  text-align: center;
  font-size: 0.8em;
}
.toggle-label .label.on { left: 0px; }
.toggle-label .label.off { right: 0px; }

.toggle-label input[type=checkbox]:checked+.back .label.on {
  color: #fff;
}
.toggle-label input[type=checkbox]+.back .label.off {
  color: #fff;
}
.toggle-label input[type=checkbox]:checked+.back .label.off {
  color: #ddd;
}


.todoitems p{
	display: inline-block !important;
}

#tabs{
    float: left;
	margin-bottom: 0;
    padding: 0;
	margin-top:0;
    background: rgba(220,220,220, 0.5);
    border-radius: 10px 10px 10px 10px;
}

#tabs li{
        list-style: none;
        float: left;
        padding: 20px;
        cursor: pointer;
        position: relative;
        padding-right: 20px;
		border-radius: 10px 10px 10px 10px;
}

#tabs li.active{
        background: white;
        border-top: 2px solid #4c5772;
        box-shadow:  0 0 4px rgba(0,0,0,0.2);
}

#tabchild, #signup, #login, #items, #logout{
	max-width: 100%;
	float: left;
	clear: both;
	display: block;
	
	border-radius: 10px 10px 10px 10px;
}

#general{
	border-radius: 10px 10px 10px 10px;
	width: 98%;
}

#tabchild section{
		background: rgba(220,220,220, 0.5);
		padding: 1% 1% 1% 1%;
        display: none;
        float: left;
        width: 100%;
}

#tabchild section.active{
	display: block;
}


.todolist li:hover span.done{
	display: inline-block;
}

#general, #items{
	background: rgba(255,255,255, 0.5);
	padding: 1%;
}


#signup, #login, #logout{
	background: rgba(74,148,83, 0.5);
	padding: 20px;
}

#login label, #signup label{
	margin-bottom:0px;
	margin-top:10px;
}

nav{
	margin-left: 1%;
	border-radius: 10px 10px 10px 10px;
	padding: 10px 0;
	background: rgba(220,220,220, 0.5);
}


nav a{
	text-decoration: none;
	display:inline-block;
	padding: 1%;
	color: white;
	background: #4c5772;
	margin-left: 10px;
	cursor: pointer;
	border-radius: 10px 10px 10px 10px;
	line-height: 28px;
	text-align: center;
	float:left;
	font-size: 1.2vw;
}

nav span{
	height:37px;
	padding-left:10px;
	padding-right:10px;
	color: #4c5772;
	border-radius: 10px 10px 10px 10px;
	line-height: 38px;
	float:right;
	font-size: 1.4vw;
}

.asteriskField{
	color: red;
}

.delete .tooltiptext, .editList .tooltiptext {
  visibility: hidden;
  width: 110px;
  bottom:100%;
  left:50%;
  margin-left: -60px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  font-size: 1em;
}

.delete .tooltiptext{
	background: red;
}

.editList .tooltiptext{
	background: blue;
}

.done .tooltiptext{
	visibility: hidden;
	color: #fff;
	width: 110px;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	font-size: 1em;
	background: green;
	left:105%;
	top:-5px;
}

.delete:hover .tooltiptext, .editList:hover .tooltiptext, .done:hover .tooltiptext {
  visibility: visible;
}

.todolist li p, .doneList li p{
	margin-top:0;
	width: 114px;
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

input.dateTag, input.titleTag{
	max-width:110px;
}

.taskTitle, .itemTitle, .todotitle, h1 > span, .thisTitle{
	text-transform: capitalize;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}


/* Make the nav responsive */
@media screen and (max-width: 1085px) {
	
	nav, .container{
		width: 60%;
	}	
}

@media screen and (max-width: 900px) {
	
	nav, .container{
		width: 98%;
		margin-right: 1%;
	}
	
	nav a{
		font-size:1.5vw;
	}
	
	nav span{
		font-size:2vw;
	}
}


@media screen and (max-width: 500px){
	nav span, nav a{
		font-size:2vw;
	}
}

@media screen and (max-width: 400px){
	nav span{
		display:block;
		float:none;
		clear: both;
		font-size:3vw;
	}
	
	nav a{
		font-size:3vw;
	}
}

@media screen and (max-width: 300px){
	nav a{
		float:none;
		display: block;
		margin-bottom:10px;
	}
	nav a, nav span{
		font-size: 4vw;
	}
}

@media screen and (max-width: 210px){
	nav a, nav span{
		font-size:0.6em;
	}
}

/* Make content of the "general task" page responsive */
@media screen and (max-width: 531px){
	
	.todoFields > span{
		margin-right:2px;
	}
}

@media screen and (max-width: 494px){
	.addTask{
		margin-left:2px;
	}
}

@media screen and (max-width: 454px){
	.todoFields span, .addTask{
		margin-bottom:2px;
		display:block;
	}
	
	.todoFields span:nth-child(2){
		margin-bottom:11px;
	}
	
	.addTask, .todoFields span input{
		width:100%;
	}
	
	.addTask{
		bottom:0;
	}
	
	.addTask i{
		margin-left:auto;
		margin-right:auto;
		position: static;
	}
}

/* Make content of the "items" page responsive */
@media screen and (max-width: 490px){
	.first-row .title, .first-row .important, .second-row > span{
		display:block;
	}

	.first-row .title input, .second-row span input, .second-row button{
		width:100%;
	}
	
	.second-row span:first-child{
		margin-bottom:2px;
	}
	
	.second-row span:nth-child(2){
		margin-bottom:4px;
	}
	
	.second-row button{
		margin-left:0;
	}
	.first-row .important{
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}
	
	
}

/* Make "my calendar" page responsive */
@media screen and (max-width:286px){
	#tabs{
		width:100%;
	}
	#tabs li{
		float:none;
		display:block;
	}
}