{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'todoapp/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/fontawesome-all.min.css' %}">
<script src="{% static 'todoapp/jquery-3.3.1.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

<body>

<div class="container">
	<ul id="tabs">
		<li class="active" onclick="displayTab({% verbatim %}this{% endverbatim %})">Daily</li>
		<li onclick="displayTab({% verbatim %}this{% endverbatim %})">Weekly</li>
		<li onclick="displayTab({% verbatim %}this{% endverbatim %})">Monthly</li>
	</ul>
	
	<a href="{% url 'todoapp:generalTasks'%}" class="planning">Start Planning</a>
	
	<div id="tabchild">
		<section id="daily" class="active">
			<ol class="todoitems">
			{% for item in daily_list %}
				<li data-id="{{item.id}}">
					{% if item.important %}<b>{% endif %}
					<p class="taskText">{{item.title}}</p>
					<span class="taskText">should be done before<span class="itemDate"> {{item.date_to_do}}</span><span class="itemTime">{% if item.time_to_do %}{{item.time_to_do}} {% endif %}</span></span>
					{% if item.important %}</b>{% endif %}
					<i class="fa fa-circle unChecked" onclick="toggleCheck({% verbatim %}this{% endverbatim %}, {{item.id}})"></i>
					<i class="fa fa-check-circle checked" onclick="toggleCheck({% verbatim %}this{% endverbatim %}, {{item.id}})"></i>
					<i class="fa fa-times delete" onclick="removeItem({% verbatim %}this{% endverbatim %}, {{item.id}})"></i>
					<!-- <i class="fa fa-pencil-alt editItem" onclick="startEdit({% verbatim %}this{% endverbatim %})"></i> -->
					<i class="fa fa-check saveItem" onclick="saveEdit({% verbatim %}this{% endverbatim %}, {{item.id}})"></i>
				</li>
			{% endfor %}
			</ol>
		</section>
		
		<section id="weekly">
			<ol class="todoitems">
			{% for item in weekly_list %}
				<li data-id="{{item.id}}">
					{% if item.important %}<b>{% endif %}
					<p class="taskText">{{item.title}}</p>
					<span class="taskText">should be done before<span class="itemDate"> {{item.date_to_do}}</span><span class="itemTime">{% if item.time_to_do %}{{item.time_to_do}} {% endif %}</span></span>
					{% if item.important %}</b>{% endif %}
					<i class="fa fa-circle unChecked" onclick="toggleCheck({% verbatim %}this{% endverbatim %}, {{item.id}})"></i>
					<i class="fa fa-check-circle checked" onclick="toggleCheck({% verbatim %}this{% endverbatim %}, {{item.id}})"></i>
					<i class="fa fa-times delete" onclick="removeItem({% verbatim %}this{% endverbatim %}, {{item.id}})"></i>
					<!-- <i class="fa fa-pencil-alt editItem" onclick="startEdit({% verbatim %}this{% endverbatim %})"></i> -->
					<i class="fa fa-check saveItem" onclick="saveEdit({% verbatim %}this{% endverbatim %}, {{item.id}})"></i>
				</li>
			{% endfor %}
			</ol>
		</section>
		
		<section id="monthly">
			<ol class="todoitems">
			{% for item in monthly_list %}
				<li data-id="{{item.id}}">
					{% if item.important %}<b>{% endif %}
					<p class="taskText">{{item.title}}</p>
					<span class="taskText">should be done before<span class="itemDate"> {{item.date_to_do}}</span><span class="itemTime">{% if item.time_to_do %}{{item.time_to_do}} {% endif %}</span></span>
					{% if item.important %}</b>{% endif %}
					<i class="fa fa-circle unChecked" onclick="toggleCheck({% verbatim %}this{% endverbatim %}, {{item.id}})"></i>
					<i class="fa fa-check-circle checked" onclick="toggleCheck({% verbatim %}this{% endverbatim %}, {{item.id}})"></i>
					<i class="fa fa-times delete" onclick="removeItem({% verbatim %}this{% endverbatim %}, {{item.id}})"></i>
					<!-- <i class="fa fa-pencil-alt editItem" onclick="startEdit({% verbatim %}this{% endverbatim %})"></i> -->
					<i class="fa fa-check saveItem" onclick="saveEdit({% verbatim %}this{% endverbatim %}, {{item.id}})"></i>
				</li>
			{% endfor %}
			</ol>
		</section>
	</div>
</div>

</body>


{% block javascript %}
<script>

$( document ).ready(function() {
	checkDone(0);
});


function displayTab(tab){
	//Make the tab active
	$('#tabs li').removeClass('active');
	$(tab).addClass('active');
	
	var index = $(tab).index();

	$('section').removeClass('active');
	$('section').eq(index).addClass('active');
	
	checkDone(index);
	
}

function checkDone(index){
	// Display list items as line-through or not based on their "done" fields.
	var listItems = $('section').eq(index).find('ol').children('li');
	
	for (let li of listItems) {
		
		$.ajax({
			url: 'isChecked/',
			data: {
				'todoid': $(li).attr("data-id")
			},
			dataType: 'json',
          
			success: function (data) {
				if(data.is_checked){
					$(li).addClass('done').removeClass('unDone');
					$(li).find('.taskText').css({"text-decoration": "line-through"});
				}else{
					$(li).addClass('unDone').removeClass('done');
					$(li).find('.taskText').css({"text-decoration": "none"});
				}
			}
		});
	}
}
  
function removeItem(tag, id){
	var csrftoken = Cookies.get('csrftoken');
	$.ajax({
		method: "POST",
		url: 'removeItem/',
        data: {
			'CSRF': csrftoken,
			'todoid': id
        },
        dataType: 'json',
          
        success: function (data) {
			$(tag).parent("li").remove();
			//$('.stepNumber').html('step '+data.step_number+':');
        }
     });
	}
	
function toggleCheck(tag, id){
	var csrftoken = Cookies.get('csrftoken');	
	$.ajax({
		method: "POST",
		url: 'toggleCheck/',
        data: {
			'CSRF': csrftoken,
			'todoid': id
        },
        dataType: 'json',
          
        success: function (data) {
			if(data.is_checked){
				$(tag).parent('li').addClass('done').removeClass('unDone');
				$(tag).siblings('.taskText').css({"text-decoration": "line-through"});
			}else{
				$(tag).parent('li').addClass('unDone').removeClass('done');
				$(tag).siblings('.taskText').css({"text-decoration": "none"});
			}
        }
    });
} 

</script>

{% endblock %}