{% extends 'todoapp/base.html' %}

{% block content %}

<div class="container">
	<ul id="tabs">
		<li class="active" onclick="displayTab({% verbatim %}this{% endverbatim %})">Daily</li>
		<li onclick="displayTab({% verbatim %}this{% endverbatim %})">Weekly</li>
		<li onclick="displayTab({% verbatim %}this{% endverbatim %})">Monthly</li>
	</ul>
	
	<div id="tabchild">
		<section id="daily" class="active">
			<ol class="todoitems">
			{% for item in daily_list %}
				<li data-id="{{item.id}}">
					{% if item.important %}<b>{% endif %}
					<p class="taskTitle"></p>
					<p class="itemTitle"> - {{item.title}}</p>
					<p class="itemDate"> - {{item.date_to_do}}</p>&nbsp<p class="itemTime">{% if item.time_to_do %}{{item.time_to_do}} {% endif %}</p>
					{% if item.important %}</b>{% endif %}
					<i class="fa fa-circle unChecked" onclick="toggleCheck({% verbatim %}this{% endverbatim %}, {{item.id}})"></i>
					<i class="fa fa-check-circle checked" onclick="toggleCheck({% verbatim %}this{% endverbatim %}, {{item.id}})"></i>
					<i class="fa fa-times delete" onclick="removeItem({% verbatim %}this{% endverbatim %}, {{item.id}})"></i>
					<!-- <i class="fa fa-pencil-alt editItem" onclick="startEdit({% verbatim %}this{% endverbatim %})"></i> -->
					<i class="fa fa-check saveItem" onclick="saveEdit({% verbatim %}this{% endverbatim %}, {{item.id}})"></i>
				</li>
			{% endfor %}
			</ol>
		</section>
		
		<section id="weekly">
			<ol class="todoitems">
			{% for item in weekly_list %}
				<li data-id="{{item.id}}">
					{% if item.important %}<b>{% endif %}
					<p class="taskTitle"></p>
					<p class="itemTitle"> - {{item.title}}</p>
					<p class="itemDate"> - {{item.date_to_do}}</p>&nbsp<p class="itemTime">{% if item.time_to_do %}{{item.time_to_do}} {% endif %}</p>
					{% if item.important %}</b>{% endif %}
					<i class="fa fa-circle unChecked" onclick="toggleCheck({% verbatim %}this{% endverbatim %}, {{item.id}})"></i>
					<i class="fa fa-check-circle checked" onclick="toggleCheck({% verbatim %}this{% endverbatim %}, {{item.id}})"></i>
					<i class="fa fa-times delete" onclick="removeItem({% verbatim %}this{% endverbatim %}, {{item.id}})"></i>
					<!-- <i class="fa fa-pencil-alt editItem" onclick="startEdit({% verbatim %}this{% endverbatim %})"></i> -->
					<i class="fa fa-check saveItem" onclick="saveEdit({% verbatim %}this{% endverbatim %}, {{item.id}})"></i>
				</li>
			{% endfor %}
			</ol>
		</section>
		
		<section id="monthly">
			<ol class="todoitems">
			{% for item in monthly_list %}
				<li data-id="{{item.id}}" data-taskId="{{todo.todolist_id}}">
					{% if item.important %}<b>{% endif %}
					<p class="taskTitle"></p>
					<p class="itemTitle"> - {{item.title}}</p>
					<p class="itemDate"> - {{item.date_to_do}}</p>&nbsp<p class="itemTime">{% if item.time_to_do %}{{item.time_to_do}} {% endif %}</p>
					{% if item.important %}</b>{% endif %}
					<i class="fa fa-circle unChecked" onclick="toggleCheck({% verbatim %}this{% endverbatim %}, {{item.id}})"></i>
					<i class="fa fa-check-circle checked" onclick="toggleCheck({% verbatim %}this{% endverbatim %}, {{item.id}})"></i>
					<i class="fa fa-times delete" onclick="removeItem({% verbatim %}this{% endverbatim %}, {{item.id}})"></i>
					<!-- <i class="fa fa-pencil-alt editItem" onclick="startEdit({% verbatim %}this{% endverbatim %})"></i> -->
					<i class="fa fa-check saveItem" onclick="saveEdit({% verbatim %}this{% endverbatim %}, {{item.id}})"></i>
				</li>
			{% endfor %}
			</ol>
		</section>
	</div>
</div>

{% block javascript %}
<script>

$( document ).ready(function() {
	//Run the initItems with "daily" tab
	initItems(0);
});

//Display updated version of items on back button
$(window).bind("pageshow", function(event) {
    if (event.originalEvent.persisted) {
        window.location.reload(); 
    }
});


function displayTab(tab){
	//Make the tab active
	$('#tabs li').removeClass('active');
	$(tab).addClass('active');
	
	var index = $(tab).index();

	$('section').removeClass('active');
	$('section').eq(index).addClass('active');
	
	initItems(index);
	
}

function initItems(index){
	// Display list items as line-through or not based on their "done" fields.
	var listItems = $('section').eq(index).find('ol').children('li');
	
	for (let li of listItems) {
		
		$.ajax({
			url: 'isChecked/',
			data: {
				'todoid': $(li).attr("data-id")
			},
			dataType: 'json',
          
			success: function (data) {
				if(data.is_checked){
					$(li).addClass('done').removeClass('unDone');
					$(li).find('p').css({"text-decoration": "line-through"});
				}else{
					$(li).addClass('unDone').removeClass('done');
					$(li).find('p').css({"text-decoration": "none"});
				}
			}
		});
		//Get the task title of each item and display at the beginning of the line
		$.ajax({
			url: 'getTaskTitle/',
			data: {
				'todoid': $(li).attr("data-id")
			},
			dataType: 'json',
          
			success: function (data) {
					$(li).find('.taskTitle').html(data.task_title);
			}
		});
	}
}

  
function removeItem(tag, id){
	var csrftoken = Cookies.get('csrftoken');
	$.ajax({
		method: "POST",
		url: 'removeItem/',
        data: {
			'CSRF': csrftoken,
			'todoid': id
        },
        dataType: 'json',
          
        success: function (data) {
			$(tag).parent("li").remove();
        }
     });
	}
	
	
function toggleCheck(tag, id){
	var csrftoken = Cookies.get('csrftoken');	
	$.ajax({
		method: "POST",
		url: 'toggleCheck/',
        data: {
			'CSRF': csrftoken,
			'todoid': id
        },
        dataType: 'json',
          
        success: function (data) {
			if(data.is_checked){
				$(tag).parent('li').addClass('done').removeClass('unDone');
				$(tag).siblings('p').css({"text-decoration": "line-through"});
			}else{
				$(tag).parent('li').addClass('unDone').removeClass('done');
				$(tag).siblings('p').css({"text-decoration": "none"});
			}
        }
    });
} 

</script>

{% endblock %}


{% endblock %}
