body{
	background: url("images/todo.jpg") no-repeat right top fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.container{
	width: 50%;	
	padding: 20px 20px 50px 30px;
}

h1{
	color: white;
	margin-bottom: 20px !important;
}

h3, h4{
	color: #17223E;
}

h4{
	margin-top: 0 !important;
}


h4 > span{
	color: #FF4500;
}


.todoFields{
	margin-top: 40px;
	margin-bottom:40px;
	color: #17223E;
}

.todoFields > span{
	margin-right: 20px;
	display: inine-block;
}

.todoFields input{
	height: 40px;
}

.switch-button{
	position: relative;
	top:18px;
}

.first-row{
	margin-bottom: 20px;
}

.title{
	margin-right:49px;
}

.title input{
	position: relative;
	left: 14px;
}

button.addTask, button.addItem, input{
	border-radius: 10px 10px 10px 10px;
	overflow: hidden;
}

.addTask{
	height:40px;
	width: 40px;
	color: #0a93e2;
	background: white;
	position: relative;
	bottom: 5px;
	margin-left: 40px;
	cursor: pointer;
}

.addTask > i{
	background-image: url("images/add-icon.png");
	display: inline-block;
	width:32px;
	height: 32px;
	position:absolute;
	left:2px;
	bottom: 2.5px;
}

.addItem{
	height:42px;
	width: 100px;
	color: #0a93e2;
	background: white;
	margin-left: 40px;
	cursor: pointer;
}

.todolist, .doneList{
	margin-top: 40px;
}

.todolist > li, .doneList > li{
	list-style: none;
	display: inline-block;
	width: 200px;
	background: white;
	margin-right: 30px;
	margin-bottom: 10px;
	padding: 5px;
	position: relative;
	height: 40px;
	border-radius: 10px 10px 10px 10px;
	overflow: hidden;
}

.date{
	max-width: 90px;
	display: inline-block;
	font-size: 8pt;
	position:absolute;
	bottom: 5px;
}

.viewItems{
	display:inline-block;
	width:85px;
	height:100%;
	position: absolute;
	right:0;
	top:0;
	font-size:8pt;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
	color: black;
}

.todolist .viewItems{
	background: #C0C0C0;
}

.doneList .viewItems{
	background: #7FFF00;
}

.delete, .checked, .unChecked, .editList, .editItem, .saveItem{
	display: none !important;
	cursor: pointer;
}

.delete{
	color:red;
}

.checked{
	color: green;
}

.unChecked{
	color: #DCDCDC;
}

.editList{
	color: #0000FF;
}

.editItem, .saveItem{
	color: #008000;
}

.save{
	color: green;
}

.todoitems{
	padding-left: 27px;
	padding-right: 7px;
	margin-bottom: 2px;
	margin-top: 2px;
	display:inline-block;
	color: #1d1f2e;
	background: white;
	border-radius: 10px 10px 10px 10px;
	overflow: hidden;
}


li:hover > i.delete, li:hover > i.editList{
	
	display:inline-block !important;
}

.todoitems > li.unDone:hover > i.unChecked, .todoitems > li.unDone:hover > i.editItem{
	display:inline-block !important;
}

.todoitems > li.unDone:hover > i.checked{
	display:none !important;
}

.todoitems > li.done:hover > i.checked{
	display:inline-block !important;
}

.todoitems > li.done:hover > i.unChecked, .todoitems > li.done:hover > i.editItem{
	display:none !important;
}

.todolist .delete, .doneList .delete{
	position: absolute;
	right: 5px;
	top:5px;
}

.todolist a, .doneList a{
	padding-top:9px;
	line-height:16px;
}

.todolist .editList, .doneList .editList{
	position: absolute;
	left: 108px;
	top:5px;
}

.saveList{
	display: none !important;
	position: absolute;
	left: 107px;
	bottom:5px;
	color:green;
	cursor: pointer;
	
}

.saveList.active{
	display: inline-block !important;
}

.saveItem.active{
	display: inline-block !important;
}

.todolist li p, .doneList li p{
	margin-top:0;
	width: 115px;
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow: hidden;
}


/* switch styles */
.toggle-label {
  position: relative;
  top:16px;
  display: inline-block;
  width: 100px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 10px 10px 10px 10px;
  margin-right: 30px;
  line-height: 38px;
}
.toggle-label input[type=checkbox] { 
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.toggle-label input[type=checkbox]+.back {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #ed1c24;
	transition: background 150ms linear;  
	border-radius: 10px 10px 10px 10px;
}
.toggle-label input[type=checkbox]:checked+.back {
  background: #00a651; /*green*/
}

.toggle-label input[type=checkbox]+.back .toggle {
  display: block;
  position: absolute;
  content: ' ';
  background: #fff;
  width: 50%; 
  height: 100%;
  transition: margin 150ms linear;
  border: 1px solid #808080;
  border-radius: 10px 10px 10px 10px;
}
.toggle-label input[type=checkbox]:checked+.back .toggle {
  margin-left: 50px;
}
.toggle-label .label {
  display: block;
  position: absolute;
  width: 50%;
  color: #ddd;
  text-align: center;
  font-size: 10pt;
}
.toggle-label .label.on { left: 0px; }
.toggle-label .label.off { right: 0px; }

.toggle-label input[type=checkbox]:checked+.back .label.on {
  color: #fff;
}
.toggle-label input[type=checkbox]+.back .label.off {
  color: #fff;
}
.toggle-label input[type=checkbox]:checked+.back .label.off {
  color: #ddd;
}


.todoitems p{
	display: inline-block !important;
}

#tabs{
    float: left;
	margin-bottom: 0;
    padding: 0;
	margin-top:0;
    background: rgba(220,220,220, 0.5);
    border-radius: 10px 10px 10px 10px;
}

#tabs li{
        list-style: none;
        float: left;
        padding: 20px;
        cursor: pointer;
        position: relative;
        padding-right: 20px;
		border-radius: 10px 10px 10px 10px;
}

#tabs li.active{
        background: white;
        border-top: 2px solid darkturquoise;
        box-shadow:  0 0 4px rgba(0,0,0,0.2);
}

#tabchild{
	max-width: 100%;
	float: left;
	clear: both;
	display: block;
	background: rgba(220,220,220, 0.5);
	border-radius: 10px 10px 10px 10px;
}

#tabchild section{
        padding: 10px;
        display: none !important;
        float: left;
        width: 100%;
}

#tabchild section.active{
	display: block !important;
}


.planning{
	text-decoration: none;
	display:inline-block;
	height:60px;
	width: 120px;
	color: darkturquoise;
	background: white;
	margin-left: 40px;
	cursor: pointer;
	border-radius: 10px 10px 10px 10px;
	line-height: 53px;
	text-align: center;
}

span.done{
	position: absolute;
	left: 90px;
	bottom:4px;
	display: none;
	width:28px;
	height:15px;
	border-radius: 5px 5px 5px 5px;
	font-size:7pt;
	background: #7FFF00;
	padding-left:5px;
	cursor: pointer;
}

.todolist li:hover span.done{
	display: inline-block;
}