{% extends 'todoapp/base.html' %}

{% block content %}

<title>
    {% block title %}Task Items | ToDoList{% endblock %}
</title>

<div class="container">

<h1>Steps of <span>{{todolist.title}}</span></h1>
<h4>Due To <span>{{todolist.deadline}}</span></h4>
<form action="" method="post" id="items">
	{% csrf_token %}
	<div class="todoFields">
		<div class="first-row">
			<span class="title">
				<label for="title" class="stepNumber">step {{step_number}}:</label>
				<input type="text" id="title" placeholder="I have to do..." name="title" required>
			</span>
			<span class="important">Important
			<label class='toggle-label'>
				<input type='checkbox' name="important"/>
				<span class='back'>
					<span class='toggle'></span>
					<span class='label on'>YES</span>
					<span class='label off'>NO</span>  
				</span>
			</label>
			</span>
			
		</div>
		<div class="second-row">
			<span>
				<label for="due_date">Deadline</label>
				<input type="date" id="due_date" name="due_date">
			</span>
			<span>
				<label for="due_time"></label>
				<input type="time" id="due_time" name="due_time">
			</span>
			<button type="submit" name="save" class="addItem"><b>Next Item</b></button>
		</div>
	</div>
	<ol class="todoitems">
		{% for item in todoitems %}
			<li data-id="{{item.id}}">
				{% if item.important %}<b>{% endif %}<p class="taskText">{{item.title}}</p>
				<span class="taskText">should be done before <span class="itemDate"> {{item.date_to_do}}</span><span class="itemTime"> {% if item.time_to_do %}{{item.time_to_do}} {% endif %}</span></span>
				{% if item.important %}</b>{% endif %}
				<i class="fa fa-circle unChecked" onclick="toggleCheck({% verbatim %}this{% endverbatim %}, {{item.id}})"></i>
				<i class="fa fa-check-circle checked" onclick="toggleCheck({% verbatim %}this{% endverbatim %}, {{item.id}})"></i>
				<i class="fa fa-times delete" onclick="removeItem({% verbatim %}this{% endverbatim %}, {{item.id}})"></i>
				<i class="fa fa-pencil-alt editItem" onclick="startEdit({% verbatim %}this{% endverbatim %})"></i>
				<i class="fa fa-check saveItem" onclick="saveEdit({% verbatim %}this{% endverbatim %}, {{item.id}})"></i>
			</li>
		{% endfor %}
	</ol>
<form>
</div>

{% block javascript %}
<script>
  
//set the default value and minimum date of the deadline to today
let today = new Date().toISOString().substr(0, 10);
$("#due_date").val(today);
$("#due_date").attr('min',today); 

 
$( document ).ready(function() {
	
	// Display list items as line-through or not based on their "done" fields.
	var listItems = $(".todoitems li");
	for (let li of listItems) {
		$.ajax({
			url: '../item_is_checked',
			data: {
				'todoid': $(li).attr("data-id")
			},
			dataType: 'json',
          
			success: function (data) {
				if(data.is_checked){
					$(li).addClass('done').removeClass('unDone');
					$(li).find('.taskText').css({"text-decoration": "line-through"});
				}else{
					$(li).addClass('unDone').removeClass('done');
					$(li).find('.taskText').css({"text-decoration": "none"});
				}
			}
		});
	}
	
	//Get the deadline value of the task and set the max possible value of item's deadline field to that
	$.ajax({
			url: '../get_max_date',
			data: {
				'todoid': {{todolist.id}}
			},
			dataType: 'json',
          
			success: function (data) {
				$("#due_date").attr('max',data.deadline); 
			}
		});
});

  
function removeItem(tag, id){
	var csrftoken = Cookies.get('csrftoken');
	$.ajax({
		method: "POST",
		url: '../remove_item/',
        data: {
			'CSRF': csrftoken,
			'todoid': id
        },
        dataType: 'json',
          
        success: function (data) {
			$(tag).parent("li").remove();
			$('.stepNumber').html('step '+data.step_number+':');
        }
     });
	}
	
function toggleCheck(tag, id){
	var csrftoken = Cookies.get('csrftoken');	
	$.ajax({
		method: "POST",
		url: '../item_toggle_check/',
        data: {
			'CSRF': csrftoken,
			'todoid': id
        },
        dataType: 'json',
          
        success: function (data) {
			if(data.is_checked){
				$(tag).parent('li').addClass('done').removeClass('unDone');
				$(tag).parent('li').find('.taskText').css({"text-decoration": "line-through"});
			}else{
				$(tag).parent('li').addClass('unDone').removeClass('done');
				$(tag).parent('li').find('.taskText').css({"text-decoration": "none"});
			}
        }
    });
} 

function startEdit(tag){
        
        var title = $(tag).parent('li').find('p').text();
		var deadline =  $(tag).parent('li').find('.itemDate').text(); 
        
		$(tag).siblings('.saveItem').addClass('active');

        var titleTag = '<input type="text" value= "' + title +'" class="titleTag"/>'
        $(tag).parent('li').find('p').html(titleTag);
		
		var dateTag = '<input type="date" class="dateTag"/>'
		$(tag).parent('li').find('span').find('.itemDate').html(dateTag);

		var timeTag = '<input type="time" class="timeTag"/>'
		$(tag).parent('li').find('span').find('.itemTime').html(timeTag);

		
        $("ul input").click(function (e) {
            e.stopPropagation();
        });
    }

    $("ul .saveList").click(function (e) {
        e.stopPropagation();
    });

	
function saveEdit(tag, id) {
	var csrftoken = Cookies.get('csrftoken');	
	var titleValue = $(tag).parent('li').find('p').find('.titleTag').val();
	var dateValue = $(tag).parent('li').find('span').find('.dateTag').val();
	var timeValue = $(tag).parent('li').find('span').find('.timeTag').val();
		$.ajax({
			method: "POST",
			url: '../edit_item/',
        data: {
			'CSRF': csrftoken,
			'itemId': id,
			'titleValue': titleValue,
			'dateValue': dateValue,
			'timeValue': timeValue
        },
        dataType: 'json',
          
        success: function (data) {
			$(tag).parent('li').find('p').html(titleValue);
			$(tag).parent('li').find('span').find('.itemDate').html(data.new_date);
			if(data.new_time != null)
				$(tag).parent('li').find('span').find('.itemTime').html(' ' + data.new_time);
			else
				$(tag).parent('li').find('span').find('.itemTime').html(''); 
			$(tag).removeClass('active');
        }
    });
}
   
</script>
{% endblock %}
{% endblock %}
