{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'todoapp/styles.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

{% block content %}
<body>
	<div class="container">
		<section id="logout">
			<h2>Oops! You have been logged out!</h2>
			<div class="border-top pt-3">
				<small class="text-muted">
					<a href="{% url 'todoapp:login' %}">Log In Again</a>
				</small>
			<div>
		</section>
	</div>
</body>
{% endblock %}
