<nav class="navbar-nav">
	{% if user.is_authenticated %}
		
		<a class="nav-item nav-link" href="{% url 'todoapp:logout' %}">Log Out</a>
		{% if request.get_full_path != '/todoapp/' %}
			<a href="{% url 'todoapp:index'%}" class="planning">Your Calendar</a>
		{% endif %}
		{% if request.get_full_path != '/todoapp/general_tasks/' %}
			<a href="{% url 'todoapp:general-tasks'%}" class="planning">Keep Planning</a>
		{% endif %}
		<span><b>{{user.username}}!</b> Light Tomorrow With Today :)</span>
	{% else %}
		<a class="nav-item nav-link" href="{% url 'todoapp:login' %}">Log In</a>
		<a class="nav-item nav-link" href="{% url 'todoapp:signup' %}">Sign Up</a>
	{% endif %}
</nav>